html, body {
    color: black;
    text-align: center;
    width: 100%;
}

body{
    background-image: url("https://image.freepik.com/free-vector/laughing-emoji-social-media-message-background-copy-space_95169-1323.jpg");
    position: relative;
    background-position: center;    
    background-color: #fccf3e;

    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Brush Script MT', cursive;    
    font-size: 5.4em;
    margin-top: 15px;
    margin-bottom: 15px;
    text-shadow: 3px 3px white, 5px 5px red;
}


.imageBox {
    position: relative;
    margin-top: 10px;
    /* border: 1px solid white; */
    box-sizing: border-box;
    width: 400px;
    height: 400px;
}

#genParent {
    display: flex;
    flex-direction: column;
    align-items:center
}

hr {
    margin-top: 20px;
    width: 400px;
    border-color: black;
}

.userCreatedMemes > h1{
    color: black;
    text-decoration: underline;
}

button{
    background-color: black;
    color: white
}

.memeFormat {
    margin-top: 5px;
}

button {
    cursor: pointer;
}

img {
    height: 400px;
    width: 400px;
}


.top {
    margin-top: 0;
    position: absolute;
    top: 0px;
    color: white;
    font-size: 40px;
}

.bottom {
    margin-bottom: 0;
    position: absolute;
    bottom: 10px;
    color: white;
    font-size: 40px;  
}